spring:

  datasource:
    url: jdbc:mysql://localhost:3306/user_service_db
    username: root
    password: mysql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
